@import './shared/styles/_reset.css';
@import './shared/styles/variables.css';
@import './shared/styles/font.css';

* {
  box-sizing: border-box;
  font-family: 'pretendard', sans-serif;
  word-break: keep-all;
  color: var(--main-text-color);
}
